<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="theme.css">
    <title>Float Examples</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo-wrapper">
          <h1>Molly's Flowers & More</h1>
          <img src="img/png/logo.png" alt="">
        </div>
        <div class="supernav-wrapper">
          <div class="supernav-item supernav-number">
            <a href="">(740) 965-9964</a>
          </div>
          <div class="supernav-item supernav-account">
            Log in
          </div>
          <div class="supernav-item supernav-cart">
            Cart
          </div>
        </div>
      </div>
      <nav>
        <div class="search-bar">
          <form name="searchForm" action="/browse" id="searchForm">
            <input type="text" placeholder="Search">
            <input type="submit" name="search">
          </form>
        </div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </header>
    <div class="background">
      <main>
        https://www.mollysfloristofsunburyoh.com/</br>
        • Background image tem que sumir e ficar somente o main num determinado viewport</br>
        • Logo diminuir com o tamanho do viewport
      </main>
    </div>
    <footer></footer>
  </body>
</html>
